/*IMPORTS */
/*MISCELANEOUS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto+Condensed:ital@0;1&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&display=swap");
/* RESET */
*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

/* GLOBALS */
html {
  font-size: 62.5%;
  font-family: "Monteserrat", sans-serif;
  background-image: linear-gradient(to bottom, #254b85, #1d3972, #16285f, #0e184c, #0a0339); }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #254b85, #1d3972, #16285f, #0e184c, #0a0339); }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #fff;
  display: flex; }

.menu__item .menu__link {
  transition: transform 5s ease-in; }
  t .menu__item .menu__link:hover {
    font-size: 2em;
    text-transform: uppercase;
    color: #ac5e83; }

/*PARTIALS */
header .navbar {
  min-width: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: nowrap;
  padding: 0 1rem;
  border-bottom: 0.3rem solid #ac5e83; }

.menu .menu__item {
  border: 0.3rem solid linear-gradient(to bottom, #254b85, #1d3972, #16285f, #0e184c, #0a0339); }

.navbar h1 {
  color: #fff;
  font-size: 3em;
  text-align: center; }

.menu__item .menu__link {
  flex-direction: row;
  color: #fff;
  border: 0.3rem solid linear-gradient(to bottom, #254b85, #1d3972, #16285f, #0e184c, #0a0339);
  flex-basis: 30%;
  font-size: 1.5em;
  text-decoration: none;
  list-style-type: none;
  line-height: 3.5rem; }
  .menu__item .menu__link:hover {
    transition: transform 5s ease-in;
    border-bottom: 0.3rem solid #fff; }

.menu .menu__home {
  background-image: linear-gradient(to bottom, #254b85, #1d3972, #16285f, #0e184c, #0a0339);
  position: fixed;
  display: flex;
  align-self: flex-end;
  margin-top: 1rem;
  border: 0.3rem solid #fff;
  font-size: 1.5em; }

@media screen and (max-width: 460px) {
  .head {
    font-size: 0.2em; } }

footer {
  padding: 0 auto;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #3bb4c1; }

p {
  color: black; }

/*VIEWS */
.navbar .nombre {
  flex-basis: 50%; }

.section {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  text-align: center;
  font-size: 1em;
  padding: 0, auto;
  justify-content: space-between;
  margin-top: 5rem;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 5rem; }
  .section .titulonovedades, .section .novedades, .section .titulolinks {
    font-size: 1.2em;
    margin-left: 1rem;
    margin-right: 1rem;
    border: solid 0.2rem #fff;
    border-radius: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .section .titulonovedades h3, .section .novedades h3, .section .titulolinks h3 {
    color: #fff;
    font-size: 2em;
    text-align: center; }
  .section .titulonovedades h4, .section .novedades h4, .section .titulolinks h4 {
    color: #fff;
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center; }
  .section .novedades {
    text-decoration: none;
    display: flex;
    list-style: none;
    align-content: center;
    text-align: center;
    padding: 0%;
    border: none;
    color: #fff;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid 0.2rem linear-gradient(to bottom, #254b85, #1d3972, #16285f, #0e184c, #0a0339); }
  .section .novedades p {
    color: #fff;
    font-size: 1em;
    padding-left: 1.8rem;
    padding-right: 1.8rem; }
    .section .novedades p:hover {
      background-color: #ac5e83; }
  .section .novedades .menu__link {
    color: #fff;
    font-size: 1em;
    text-align: center;
    align-items: center;
    list-style-type: none; }
  .section .titulolinks {
    font-size: 3em;
    margin-right: 1rem;
    text-align: center;
    align-content: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 1em;
    text-align: center;
    height: 60rem;
    max-width: 80rem; }
  .section .titulolinks h3 {
    color: #fff;
    font-size: 2em; }
  .section .insertlink iframe {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .section .insertlink a {
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
    padding-top: 3rem; }
  .section .cotizaciones {
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    margin-bottom: 3rem; }
  @media screen and (max-width: 320px) {
    .section .insertlink {
      height: 500px; }
    .section .insertlink {
      height: 140rem; }
    .section .menu {
      font-size: 2em; } }

@media screen and (max-width: 768px) and (min-width: 320px) {
  .insertlink {
    height: 500px; }
  .insertlink {
    height: 140rem; }
  .menu {
    font-size: 2em; }
  .navbar .logo {
    display: none;
    margin-left: 4rem; } }

.navbar .tituloenlace {
  text-align: center; }

.aboutme h2 {
  border: solid 0.2rem linear-gradient(to bottom, #254b85, #1d3972, #16285f, #0e184c, #0a0339);
  color: black;
  font-size: 2em;
  text-align: center; }

.aboutme article {
  color: black;
  align-items: center;
  text-align: justify;
  font-size: 2em; }

.menuabout .menu__item {
  text-align: center; }

.menuopcion .menu__home {
  list-style-type: none;
  background-color: #fff;
  position: fixed;
  right: 2rem; }

hr {
  min-width: 100%;
  height: 0.5rem;
  background-image: linear-gradient(to bottom, #19f0dc, #00e8bf, #00df9f, #2ad57c, #46ca56, #2cbc61, #12ad69, #009e6d, #008489, #0066a3, #0042a3, #160578); }

.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  column-gap: 2rem; }

.container .card {
  position: relative;
  cursor: pointer; }

.container .card .face {
  width: 30rem;
  height: 20rem;
  transition: 0.5s; }

.container .card .face.face1 {
  position: relative;
  background-color: #3bb4c1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(10rem); }

.container .card:hover .face.face1 {
  background: #b95677;
  transform: translateY(0); }

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s; }

.container .card:hover .face.face1 .content {
  opacity: 1; }

.container .card .face.face1 .content img {
  max-width: 10rem; }

.container .card .face.face1 .content h3 {
  margin: 1rem 0 0;
  padding: 0;
  color: #0c1b30;
  text-align: center;
  font-size: 2em; }

.container .card .face.face2 {
  position: relative;
  background: #c49ce2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  transform: translateY(-10rem); }

.container .card:hover .face.face2 {
  transform: translateY(0); }

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: justify; }

.container .card .face.face2 .content a {
  margin: 1.5rem 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 0.5rem;
  border: 0.1rem solid #333; }

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff; }

#resumen p {
  color: #fff;
  text-align: justify;
  font-size: 3em;
  padding: 1.5rem 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  line-height: 4.5rem; }

#resumen a {
  margin-bottom: 3.5rem;
  float: right;
  padding: 1.5rem;
  font-size: 1.8em; }

#laboral p {
  color: #fff;
  text-align: justify;
  font-size: 3em;
  padding: 1.5rem 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  line-height: 4.5rem; }

#laboral a {
  margin-bottom: 3.5rem;
  float: right;
  padding: 1.5rem;
  font-size: 1.8em; }

#academico p {
  color: #fff;
  text-align: justify;
  font-size: 3em;
  padding: 1.5rem 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  line-height: 4.5rem; }

#academico a {
  margin-bottom: 3.5rem;
  float: right;
  padding: 1.5rem;
  font-size: 1.8em; }

@media screen and (max-width: 320px) {
  .tituloenlace {
    font-size: 0.2em; }
  .menu .menu__item {
    font-size: 2em; }
  .menuopcion {
    font-size: 2em; }
  .aboutme {
    height: 155rem; }
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .card .cards {
    display: none; }
  .navbar .logo {
    display: none;
    margin-left: 4rem; } }

@media screen and (max-width: 768px) and (min-width: 320px) {
  .tituloenlace {
    font-size: 0.2em; }
  .menu .menu__item {
    font-size: 2em; }
  .menuopcion {
    font-size: 2em; }
  .aboutme {
    height: 155rem; }
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .card .cards {
    display: none; }
  .navbar .logo {
    display: none;
    margin-left: 4rem; } }

.aboutservicios {
  color: #0c1b30;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  display: contents;
  text-decoration: none; }

.aboutservicios p {
  color: #fff;
  font-size: 2em;
  text-align: justify; }

.aboutservicios h2 {
  border: solid 0.2rem linear-gradient(to bottom, #254b85, #1d3972, #16285f, #0e184c, #0a0339);
  color: #fff;
  font-size: 2em;
  text-align: center; }

.aboutservicios h3 {
  border-bottom: solid 0.2rem #fff;
  color: #fff;
  font-size: 1.2em;
  text-align: left; }

.aboutservicios ul {
  text-decoration: none;
  text-align: start;
  align-items: center;
  text-align: justify;
  font-size: 2em; }

.aboutservicios ol {
  color: #fff;
  text-align: justify;
  font-size: 1em;
  padding: 1.5rem 1.5rem;
  line-height: 3.5rem;
  margin-bottom: 5rem; }

@media screen and (max-width: 320px) {
  .menuservicios {
    font-size: 2em; }
  .aboutservicios {
    height: 155rem; } }

.formulario {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  background-color: linear-gradient(to bottom, #254b85, #1d3972, #16285f, #0e184c, #0a0339);
  justify-content: center;
  text-align: center; }

.form {
  border: solid 0.2rem linear-gradient(to bottom, #d37931, #d98f22, #d9a70b, #d3c000, #c4da00);
  border-radius: 2rem;
  background-image: linear-gradient(to left bottom, #19f0dc, #00eccc, #00e7bc, #00e2aa, #06dd97, #02d493, #00cb8f, #00c28b, #00b391, #00a492, #009490, #008489);
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 8rem;
  margin-top: 4rem; }

.labeldatos {
  font-size: 3rem;
  align-content: left; }

.labelconsulta {
  font-size: 2rem;
  align-items: left;
  margin-top: 4rem; }

.labelconsulta p {
  font-size: 1em;
  color: #0c1b30; }

.enviar {
  background-color: linear-gradient(to bottom, #254b85, #1d3972, #16285f, #0e184c, #0a0339);
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem; }

@media screen and (max-width: 320px) {
  .formulario {
    height: 155rem; } }

.tabla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  margin: auto;
  padding-top: 2rem; }

.tipoimpuesto h3 {
  color: #fff; }

.titulotabla h2 {
  color: #fff;
  font-size: 2em;
  text-align: center; }

.tabla th {
  color: #fff;
  font-size: 1.5em; }

.tabla td {
  color: #fff;
  font-size: 1em; }
