/*IMPORTS */
/*MISCELANEOUS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto+Condensed:ital@0;1&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&display=swap");
/* RESET */
*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* GLOBALS */
html {
  font-size: 62.5%;
  font-family: "Monteserrat", sans-serif;
  color: #fff; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: 100vh;
  background-color: #fff; }

ul {
  list-style-type: none;
  display: contents; }

a {
  text-decoration: none;
  color: #6789ba;
  display: inline-block;
  font-size: 2em; }

/*PARTIALS */
header .navbar {
  min-width: 10vh;
  padding: 0 0rem;
  align-items: center;
  background: radial-gradient(circle, #381480, #3c3291, #444ba0, #5062ad, #6179b8, #6d86bc, #7b93c0, #8aa0c3, #94a7c2, #9eaec1, #aab4bf, #b6babe);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr; }
  header .navbar .menu .menu__item {
    font-size: 1em;
    padding: 1rem;
    text-align: center; }
  header .navbar .head {
    background-color: "Roboto+COndensed", cursive;
    align-items: center;
    text-align: center;
    font-size: 3em;
    gap: 1rem; }
  header .navbar .menu__item .menu__link {
    color: #fff;
    font-size: 1.5em;
    transition: transform 5s ease-in; }
    header .navbar .menu__item .menu__link:hover {
      font-size: 2em;
      text-transform: uppercase; }
  header .navbar .logo {
    transition: transform 5s ease-in-out; }
    header .navbar .logo:hover {
      transform: scale(1.5); }

@media screen and (max-width: 460px) {
  .head {
    font-size: 0.2em; } }

footer {
  padding: 0 auto;
  align-items: center;
  text-align: center;
  background: #fff;
  display: inline-block; }

p {
  color: #0c1b30; }

/*VIEWS */
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  background: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  align-items: center;
  text-align: center;
  font-size: 1em; }
  section .titulonovedades, section .novedades, section .titulolinks, section .insertlink {
    font-size: 2em;
    margin-left: 1rem;
    border: solid 0.2rem black;
    background-color: #12ebe4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  section .titulonovedades h3, section .novedades h3, section .titulolinks h3, section .insertlink h3 {
    color: #0c1b30; }
  section .novedades {
    text-decoration: none;
    display: inline-block;
    list-style: none;
    align-content: center;
    padding: 0%;
    background-image: linear-gradient(to left bottom, #19f0dc, #00eccc, #00e7bc, #00e2aa, #06dd97, #02d493, #00cb8f, #00c28b, #00b391, #00a492, #009490, #008489);
    border: none; }
  section .novedades h4 {
    color: #0c1b30; }
  section .novedades .menu__link {
    color: #0c1b30;
    font-size: 1em;
    text-align: center;
    align-items: center; }
  section .novedades p {
    color: #0c1b30; }
  section .titulolinks {
    margin-right: 1rem; }
  section .titulolinks h3 {
    color: #0c1b30; }
  section .insertlink a {
    text-decoration: none;
    color: #0c1b30;
    text-decoration: underline;
    padding-top: 3rem; }
  section .insertlink iframe {
    position: center;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem; }
  section .insertlink {
    font-size: 3em;
    height: 446px;
    width: 450,5px;
    margin-right: 1rem;
    text-align: center;
    align-content: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 1em;
    text-align: center;
    background-image: linear-gradient(to bottom, #19f0dc, #00e8bf, #00df9f, #2ad57c, #46ca56, #2cbc61, #12ad69, #009e6d, #008489, #0066a3, #0042a3, #160578);
    border: none; }

.banner {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(to bottom, #19f0dc, #00e8bf, #00df9f, #2ad57c, #46ca56, #2cbc61, #12ad69, #009e6d, #008489, #0066a3, #0042a3, #160578);
  height: 4rem; }

.enlaces .menu__link {
  color: #fff;
  font-size: 2em;
  text-align: center;
  align-items: center; }

@media screen and (max-width: 460px) {
  .insertlink {
    height: 500px; }
  section {
    height: 155rem; }
  .novedades {
    height: 140rem; }
  .insertlink {
    height: 140rem; }
  .menu {
    font-size: 2em; } }

.navbar .tituloenlace {
  text-align: center;
  font-size: 2em; }

.navbar .tituloenlace {
  animation-name: changecolor;
  animation-duration: 4s; }

@keyframes changecolor {
  from {
    color: #fff; }
  to {
    color: #646664; } }

.aboutme h2 {
  border: solid 0.2rem #6789ba;
  color: black;
  font-size: 2em;
  text-align: center; }

.aboutme article {
  color: black;
  align-items: center;
  text-align: justify;
  font-size: 2em; }

.menuabout .menu__item {
  text-align: center; }

.inicio button {
  text-align: end;
  color: black; }

hr {
  min-width: 100%;
  height: 0.5rem;
  background-image: linear-gradient(to bottom, #19f0dc, #00e8bf, #00df9f, #2ad57c, #46ca56, #2cbc61, #12ad69, #009e6d, #008489, #0066a3, #0042a3, #160578); }

.inicio h3 {
  text-decoration: none;
  display: inline-block;
  font-size: 1em; }

.inicio a {
  color: "Roboto+COndensed", cursive;
  background-color: #5b81d3; }

@media screen and (max-width: 460px) {
  .tituloenlace {
    font-size: 0.2em; }
  .menu .menu__item {
    font-size: 2em; }
  .menuopcion {
    font-size: 2em; }
  .aboutme {
    height: 155rem; } }

.aboutservicios {
  color: #0c1b30;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  display: contents;
  text-decoration: none; }

.aboutservicios article {
  color: black;
  align-items: center;
  text-align: justify;
  font-size: 2em; }

.aboutservicios ul {
  text-decoration: none;
  text-align: start;
  align-items: center;
  text-align: justify;
  font-size: 2em; }

.aboutservicios h2 {
  border: solid 0.2rem #6789ba;
  color: black;
  font-size: 2em;
  text-align: center; }

.inicio {
  text-align: end;
  background-color: #fff; }

.inicio h3 {
  text-decoration: none;
  display: inline-block;
  font-size: 1em; }

.inicio a {
  color: "Roboto+COndensed", cursive;
  background-color: #5b81d3; }

@media screen and (max-width: 460px) {
  .menuservicios {
    font-size: 2em; }
  .aboutservicios {
    height: 155rem; } }

.formulario {
  display: flex;
  flex-direction: row;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #12ebe4;
  justify-content: center; }

.form {
  border: solid 0.2rem black;
  background-image: linear-gradient(to left bottom, #19f0dc, #00eccc, #00e7bc, #00e2aa, #06dd97, #02d493, #00cb8f, #00c28b, #00b391, #00a492, #009490, #008489); }

.labeldatos {
  font-size: 3rem;
  align-content: left; }

.labelconsulta {
  font-size: 2rem;
  align-items: left; }

.labelconsulta p {
  font-size: 1em;
  color: #0c1b30; }

.enviar {
  background-color: #12ebe4;
  align-items: center; }

.inicio {
  text-align: end;
  background-color: #fff; }

.inicio h3 {
  text-decoration: none;
  display: inline-block;
  font-size: 1em; }

.inicio a {
  color: "Roboto+COndensed", cursive;
  background-color: #5b81d3; }

@media screen and (max-width: 460px) {
  .formulario {
    height: 155rem; } }

.tabla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  margin: auto;
  padding-top: 2rem; }

.tipoimpuesto h3 {
  color: #0c1b30; }

.titulotabla h2 {
  color: #0c1b30;
  font-size: 2em;
  text-align: center; }

.tabla th {
  color: #0c1b30;
  font-size: 1.5em; }

.tabla td {
  color: #0c1b30;
  font-size: 1em; }

.inicio {
  text-align: end;
  background-color: #fff; }

.inicio h3 {
  text-decoration: none;
  display: inline-block;
  font-size: 1em; }

.inicio a {
  color: "Roboto+COndensed", cursive;
  background-color: #5b81d3; }
