footer{
    padding: 0 auto;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: map-get($colors, banner) ;
}

    p{
     color: black;   
    }
