footer{
    padding: 0 auto;
    align-items: center;
    text-align: center;
    display: flex;
    
    justify-content: space-evenly;
    background-image: map-get($colors, primary) ;
    width: 100vw;
    min-height: 5%;
    
}

    p{
     color: map-get($colors, secondary);
     text-align: center;
    }


    @media screen and (max-width: 320px){
        footer{
            width: 100%;
        }
    
    }