footer{
    padding: 0 auto;
    align-items: center;
    text-align: center;
    background: map-get($colors , secondary);
    display: inline-block;
}

    p{
     color: map-get($colors, colortext);   
    }
