header .navbar{
    min-width: 10vw;
    @include flex(column, space-around, center, 1.5rem, nowrap);
    padding: 0 5rem;
    border: 0.1rem solid map-get($colors, primary);
    border-bottom: 0.3rem solid white; 
    }

    .navbar h1{
        color: map-get($colors, secondary);
        font-size: 3em;
        font-style:normal;
        text-align: center;
    }


    .navbar h2{
        color: map-get($colors, secondary);
        font-size: 2em;
        text-align: center;
    }

    .logo{
        margin-bottom: 3rem;
    }


    .menu__item .menu__link{
        flex-direction: row;
        color: map-get($colors, secondary);
        border: 0.1rem solid map-get($colors, primary);
        flex-basis: 25%;
        font-size: 1.2em; 
        text-decoration: none;
        list-style-type: none;
        transition: ease-in-out 2s; 
   
        &:hover{
            text-transform: uppercase;
            color: black;
            background-color: map-get($colors, secondary);   
            }
        }

    .navbar ul{
        @include flex(row, space-between, center, 5rem, nowrap);
     padding-inline-start: 0;
    }

    @media screen and (max-width: 768px) and (min-width: 260px) {
        .navbar ul{
            gap: 3rem;
            }
    
    } 