header .navbar{
    min-width: 10vw;
    @include flex(column, space-around, center, 1.5rem, nowrap);
    padding: 0 5rem;
    border: 0.1rem solid map-get($colors, primary);
    border-bottom: 0.3rem solid white; 
    }

    .navbar h1{
        color: map-get($colors, secondary);
        font-size: 3em;
        text-align: center;
    }


    .navbar h2{
        color: map-get($colors, secondary);
        font-size: 2em;
        text-align: center;
    }


    .menu__item .menu__link{
        flex-direction: row;
        color: map-get($colors, secondary);
        border: 0.1rem solid map-get($colors, primary);
        flex-basis: 25%;
        font-size: 1.2em; 
        text-decoration: none;
        list-style-type: none;
        transition: ease-in-out 3s;
   
        &:hover{
            border-bottom: 0.1rem solid map-get($colors, secondary);   
            }
        }

    .navbar ul{
        @include flex(row, space-between, center, 1.5rem, nowrap);
    }
    