button{
    background-image: map-get($colors, primary);
    border: solid 0.2rem black;
    margin-top: 3rem;
    position: fixed;
}

button a{
    color: map-get($colors, secondary);
}

.formulario{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    background-color: map-get($colors, primary);
    justify-content: center;
    text-align: center;

}

.form{
    border: solid 0.2rem map-get($colors, bordercolor);
    border-radius: 2rem;
    background-image: map-get($colors, cuadrohome);
    padding: 0 auto;
    margin-top: 8rem;
    margin-top: 4rem;
    min-width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.labeldatos{
    font-size: 2rem;
    align-content:left;
}

.labelconsulta{
    font-size: 2rem;
    align-items:left;
    margin-top: 4rem;
}

.labelconsulta p{
    font-size: 2em;
    color: map-get($colors, colortext);
        
}

.enviar{
    background-color: map-get($colors, primary);
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;    
    margin-bottom: 4rem
}

@media screen and (max-width: 768px) and (min-width: 260px) {
    button{
        margin-left: 12rem;
    }

    .form{
        max-width: 100%;
    }

    textarea{
        max-width: 80%;
    }

    .enviar{
        max-width: 50%;
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .enviar input{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
 