.formulario{
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: map-get($colors, recuadro);
    justify-content: center;

}

.form{
    border: solid 0.2rem map-get($colors, bordercolor);
    background-image: map-get($colors, cuadrohome);
}

.labeldatos{
    font-size: 3rem;
    align-content:left;
}

.labelconsulta{
    font-size: 2rem;
    align-items:left;
}

.labelconsulta p{
    font-size: 1em;
    color: map-get($colors, colortext);
}

.enviar{
    background-color: map-get($colors, recuadro);
    align-items: center;
    
}


hr{
    @extend hr;
}

.inicio{
    text-align: end;
    background-color: $secondary;
    
}

.inicio h3{
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.inicio a{
    color: $font-secondary;
    background-color: rgb(91, 129, 211);
}

@media screen and (max-width: 460px){
    
    .formulario{
        height: 155rem;
        }
}