.formulario{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    background-color: map-get($colors, primary);
    justify-content: center;
    text-align: center;

}

.form{
    border: solid 0.2rem map-get($colors, bordercolor);
    border-radius: 2rem;
    background-image: map-get($colors, cuadrohome);
    padding: 0 auto;
    margin-top: 8rem;
    margin-top: 4rem;
    min-width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.labeldatos{
    font-size: 2em;
    display:inline-flex;
    max-width: fit-content;
    padding-inline-end: 0.8rem;
}

// .labelconsulta{
//     font-size: 2rem;
//     align-items:left;
//     margin-top: 4rem;
// }

// // .labelconsulta p{
// //     font-size: 2em;
// //     color: map-get($colors, colortext);
        
// // }

.cargadatos button{
    display: flex;
    flex-direction: column;
    border: solid 0.2rem map-get($colors, bordercolor);
    border-radius: 2rem;
    background-image: map-get($colors, cuadrohome);
    padding: 0 auto;
    margin-top: 8rem;
    margin-top: 4rem;
    min-width: 70%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cargadatos{
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-content: space-between;
    float: none;
    padding: 0 auto;
    margin-top: 8rem;
    margin-top: 4rem;
    min-width: 70%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;

}


button p{
    // color: map-get($colors, secondary);
    display: inline-flex;
    color: white;
    justify-content: center;
    align-self: stretch;
}


.enviar button{
    display: inline-flex;
    background-color: #16285f;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;    
    margin-bottom: 4rem;
    text-align: center;
}

.enviar p{
    color:white;
}

#titulo h2{
    text-align: center;
    color: white;
}

#otrotitulo h2{
    text-align: center;
    color: white;
}

.muestraclientes ul{
    list-style-type: auto;
    color: map-get($colors , secondary);
    text-align: justify;
    font-size: 1em;
    padding: 1.5rem 1.5rem;
    line-height: 3.5rem;
    margin-bottom: 5rem;
}

.verlistado {
    display: flex;
    flex-direction: column;
    border: solid 0.2rem map-get($colors, bordercolor);
    border-radius: 2rem;
    background-image: map-get($colors, cuadrohome);
    padding: 0 auto;
    margin-top: 8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    min-width: 15%;
    max-width: 15%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}




@media screen and (max-width: 768px) and (min-width: 260px) {
    button{
        margin-left: 12rem;
    }

    .form{
        max-width: 100%;
    }

    textarea{
        max-width: 80%;
    }

    .enviar{
        max-width: 50%;
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .enviar input{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

