    .section{
        display: flex;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include helper($font:1em);
        padding: 0, auto;
        justify-content: space-between;
        margin-top: 5rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 5rem;
    
    .titulonovedades{
        font-size: 1.2em;
        margin-left: 1rem;
        margin-right: 1rem  ;
        border: solid 0.2rem map-get($colors, secondary);
        border-radius: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        justify-items: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .titulonovedades h3{
        color: map-get($colors , secondary);
        font-size: 2em;
        text-align: center;
    }
    
    .titulonovedades h4{
        color:map-get($colors , secondary);
        font-size: 1.5em;
        text-decoration: underline;
        text-align: center;
    }

    .novedades{
        text-decoration: none;
        display:flex;
        list-style: none;
        align-content: center;
        text-align: center;
        padding: 0%;
        @extend.titulonovedades;
        border: none;
        color: map-get($colors , secondary);
        justify-content: space-around;
        padding-left: 1rem;
        padding-right: 1rem;
        border: solid 0.2rem map-get($colors, primary);
    }

    .novedades p{
        color:map-get($colors , secondary);
        font-size: 1em;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        border-radius: 2rem;

        &:hover{
            background-color: map-get($colors, banner);
            }
    }
    
    .novedades .menu__link{
        color: map-get($colors, secondary);
        font-size: 1em;
        text-align: center;
        align-items: center;
        list-style-type: none;
    }

    .titulolinks{
        @extend.titulonovedades;
        font-size: 3em;
        margin-right: 1rem;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style-type: none;
        font-size: 1em;
        text-align: center;
        height: 60rem;
        max-width: 80rem;
    }

    .titulolinks h3{
        color: map-get($colors , secondary);
        font-size: 2em;
    }
    
    .insertlink iframe{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }    
 
    .insertlink a{
        text-decoration: none;
        color: map-get($colors, secondary);
        text-decoration: underline;
        padding-top: 3rem;
    }


.cotizaciones {
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    margin-bottom: 3rem;
    margin-top: 4rem;
    gap: 5rem;
}

.cotizaciones .menu__banner1{
    box-shadow: 0.3rem 0.3rem 0.3rem map-get($colors, secondary);
}

.cotizaciones .menu__banner2{
    box-shadow: -0.3rem 0.3rem 0.3rem map-get($colors, secondary);
}

}


@media screen and (max-width: 768px) and (min-width: 260px) {
    .section{
        font-size: 0.7em;
        // margin-left: 0;
        // margin-right: 0;
    }

    .titulolinks{
        max-width: 100%;
    }

    .titulonovedades{
        max-width: 100%;
    }

    iframe {
        max-width: 90%;
    }

    .section .novedades {
        display: block;
        max-width: 90%;
    }


} 