.navbar .nombre{
    flex-basis: 50%;
}
    
    .section{
        display: flex;
        flex-direction: row;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include helper($font:1em);
        padding: 0, auto;
        justify-content:space-around;
        margin-top: 5rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 5rem;
    
    .titulonovedades{
        font-size: 1.2em;
        margin-left: 1rem;
        margin-right: 1rem  ;
        border: solid 0.2rem map-get($colors, secondary);
        border-radius: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .titulonovedades h3{
        color: map-get($colors , secondary);
        font-size: 2em;
        text-align: center;
    }
    
    .titulonovedades h4{
        color:map-get($colors , secondary);
        font-size: 1.5em;
        text-decoration: underline;
    }
    
    .novedades{
        text-decoration: none;
        display: inline-block;
        list-style: none;
        align-content: center;
        text-align: center;
        padding: 0%;
        @extend.titulonovedades;
        border: none;
        color: map-get($colors , secondary);
    }

    .novedades p{
        color:map-get($colors , secondary);
        font-size: 1em;
    }
    
    .novedades .menu__link{
        color: map-get($colors, secondary);
        font-size: 1em;
        text-align: center;
        align-items: center;
        list-style-type: none;
    }

    .titulolinks{
        @extend.titulonovedades;
        font-size: 3em;
        margin-right: 1rem;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style-type: none;
        font-size: 1em;
        text-align: center;
        height: 60rem;
        max-width: 80rem;
    }

    .titulolinks h3{
        color: map-get($colors , secondary);
        font-size: 2em;
    }
    
    .insertlink iframe{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }    
 
    .insertlink a{
        text-decoration: none;
        color: map-get($colors, secondary);
        text-decoration: underline;
        padding-top: 3rem;
    }


.cotizaciones {
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    margin-bottom: 3rem;
}




@media screen and (max-width: 460px){

    .insertlink{
        height: 500px;  
    }

    section{
        height: 155rem;
    }
    
    .novedades{
        height: 140rem;
    }
    
    .insertlink{
        height: 140rem;
    }
    
    .menu{
        font-size: 2em;
     }
    }
}