.aboutservicios{
    color: $textcolor;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    display: contents;
    text-decoration: none;
}

// .aboutservicios article{
//         color: black;
//         @include helper($textalign: justify);
//     }

.aboutservicios p{
    color: map-get($colors , secondary);
    font-size: 2em;
    text-align: justify;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.aboutservicios h2{
    border: solid 0.2rem $principal;
    color: map-get($colors , secondary);
    font-size: 2em;
    text-align: center;
}

.aboutservicios h3{
    border-bottom: solid 0.2rem map-get($colors, secondary);
    color: map-get($colors , secondary);
    font-size: 1.2em;
    text-align: left;
}


.aboutservicios ul{
    text-decoration: none;
    text-align: start;
    @include helper($textalign: justify);
    margin-left: 7rem;
    margin-right: 9rem;
}

.aboutservicios ol{
    color: map-get($colors , secondary);
    text-align: justify;
    font-size: 1em;
    padding: 1.5rem 1.5rem;
    line-height: 3.5rem;
    margin-bottom: 5rem;
}



hr{
    @extend hr;
}

// .inicio{
//     text-align: end;
//     background-color: $secondary;
    
// }

// .inicio h3{
//     text-decoration: none;
//     display: inline-block;
//     font-size: 1em;
// }

// .inicio a{
//     color: $font-secondary;
//     background-color: rgb(91, 129, 211);
// }

@media screen and (max-width: 320px){
    
   .menuservicios{
    font-size: 2em;
    }

   .aboutservicios{
    height: 155rem;
    }
}
