.tabla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    margin:auto;
    padding-top: 2rem;
}

.tipoimpuesto h3{
    color: map-get($colors, colortext);
    
}

.titulotabla h2{
    color: $textcolor;
    font-size: 2em;
    text-align: center;
}

.tabla th{
    color: $textcolor;
    font-size: 1.5em;
}

.tabla td{
    color: $textcolor;
    font-size: 1em;
}

.inicio{
    text-align: end;
    background-color: $secondary;
    
}

.inicio h3{
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.inicio a{
    color: $font-secondary;
    background-color: rgb(91, 129, 211);
}
