button{
    background-image: map-get($colors, primary);
    border: solid 0.2rem black;
    margin-top: 3rem;
    position: fixed;
}

button a{
    color: map-get($colors, secondary);
}


.tabla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    margin:auto;
    padding-top: 2rem;
}

.tipoimpuesto h3{
    color: map-get($colors, secondary);
    
}

.titulotabla h2{
    color: map-get($colors, secondary);
    font-size: 2em;
    text-align: center;
    margin-top: 8rem;
}

.tabla th{
    color: map-get($colors, secondary);
    font-size: 1.5em;
}

.tabla td{
    color: map-get($colors, secondary);
    font-size: 1em;
}

table{
    border-collapse: separate;
    border-spacing:  5rem;
}


@media screen and (max-width: 320px){

    .tabla{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin:auto;
        padding-top: 2rem;
    }    
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .tabla{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin:auto;
        padding-top: 2rem;
    }
}