.tabla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    margin:auto;
    padding-top: 2rem;
}

.tipoimpuesto h3{
    color: map-get($colors, secondary);
    
}

.titulotabla h2{
    color: map-get($colors, secondary);
    font-size: 2em;
    text-align: center;
}

.tabla th{
    color: map-get($colors, secondary);
    font-size: 1.5em;
}

.tabla td{
    color: map-get($colors, secondary);
    font-size: 1em;
}

