@mixin helper($align: center, $textalign: center, $font: 2em){
    align-items: $align;
    text-align: $textalign;
    font-size: $font;

}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start, $gap: 0, $wrap: wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap; 
}