/* RESET */

*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* GLOBALS */

html{
    font-size: 62.5%;
    font-family: $font-primary;
    background-image: map-get($colors, primary);
    
}

body{
    display: grid;
    grid-template-rows: auto 10 fr auto;
    min-height: 100vh;
    height: 100%;
    background-image: map-get($colors, primary);
}

ul{
    list-style-type: none;
  
}

a{
    text-decoration: none;
    color: map-get($colors, secondary);
    display: flex;
}


@media screen and (max-width: 608px){
    body{
        display: grid;
        grid-template-rows: auto auto auto;
    }
   
}
