/* RESET */

*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GLOBALS */

html{
    font-size: 62.5%;
    font-family: $font-primary;
    color: map-get($colors, secondary);
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-height: 100vh;
    background-color: map-get($colors, secondary);
}

ul{
    list-style-type: none;
    display: contents;
  
}

a{
    text-decoration: none;
    color: map-get($colors, primary);
    display: inline-block;
    font-size: 2em;   
}