    $principal: #6789ba;
    $secondary: #fff;
    $textcolor: #0c1b30;
    $linear-gdt: radial-gradient(circle, #381480, #3c3291, #444ba0, #5062ad, #6179b8, #6d86bc, #7b93c0, #8aa0c3, #94a7c2, #9eaec1, #aab4bf, #b6babe);
    $font-primary: "Monteserrat", sans-serif;
    $font-secondary: "Roboto+COndensed", cursive;
